/* Variables */
:root {

    /* I guess we can do red yellow green blue purple for the colours, and then light dark for the schemes */
    /* because having literally infinite colours will make it look dogshit */
    --main-text-color: rgb(0, 0, 0);
    --bright-text-color: rgb(206, 138, 185);
    --dim-text-color: lch(from var(--bright-text-color) 30% 20% h);
    --grey-text-color: lch(from var(--bright-text-color) l 5% h);
}

/* Overall */
body {
    font-family: "IM Fell DW Pica", serif;
    font-size: 18px;
    color: var(--main-text-color);
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.section-header {
    font-family: "Qwitcher Grypen", cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: var(--bright-text-color);
}
summary {
    color: var(--dim-text-color);
    font-style: italic;
    &:hover {
        cursor: pointer;
    }
    &::marker {
        content: '+ ';
        font-family: 'Courier New', Courier, monospace;
        color:var(--dim-text-color);
        font-weight: bold;
    }
}
details[open] summary::marker {
    content: '- ';
    color: var(--bright-text-color);
}

/* Page title  */
.title {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 150px;
    margin: 0 0 0 0;
    color:var(--dim-text-color);
}

/* Navigation menu  */
.primary-menu {
    display: flex;
    justify-content: center;
    list-style-position: inside;
    text-align: center;
    label {
        color:var(--dim-text-color);
        margin-left: 10px;
        margin-right: 10px;
        &:has(input:checked) {
            color: var(--bright-text-color);
            font-style:italic;
        }
        &:has(input:focus-visible) {
            outline: 2px solid var(--main-text-color);
        }
        padding: 10px;
        cursor: pointer;
        &:hover { 
            background: rgba(147, 147, 147, 0.267); 
            font-style: italic;
        }
        &:active { 
            background: rgba(98, 98, 98, 0.4); 
            font-style: italic;
        }
    }
    input {
        opacity: 0;
        position: absolute;
        pointer-events: none;
    }
}

body:has(#home:not(:checked)) #tab-home, 
body:has(#resume:not(:checked)) #tab-resume, 
body:has(#projects:not(:checked)) #tab-projects,
body:has(#contact:not(:checked)) #tab-contact {
    display: none;
}

/* Page body */
.content-wrapper {
    margin-left: 20lvw;
    margin-right: 20lvw;
    min-height: 100lvh;
}
#tab-projects, #tab-home, #tab-resume, #tab-contact {
    height: 100%
}

@media (width <= 768px) {
    .content-wrapper {
        margin-left: 5lvw;
        margin-right: 5lvw;
    }
    .title {
        font-size: 90px;
    }
}
.sneaky {
    font-size: 0px;
}
a {
    color: var(--bright-text-color);
    &:visited {
        color: var(--dim-text-color);
    }
    &:active {
        color: var(--bright-text-color);
    }
    &:hover {
        font-style: italic;
        color: var(--grey-text-color);
    }
}
.pdf-embed {
    height: 100%;
    width: 100%
}
.project-image {
    height: 100%;
    width: 100%;
    border: 10px black;
    box-shadow:black
}

figcaption {
    font-style: italic;
    font-size: 15px;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    background: rgba(0, 0, 0, 0.8);
    &:target {
        display: block;
    }
    span {
        display: block;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}


/* Footer */
.footer-text {
    font-style: italic;
}